body{
    background-color: black;
    margin-top: 60px;
    text-align: center;
    color: blanchedalmond;
}

h1{
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
    margin: 0;
}

h2{
    font-size: 20px;
    margin: 0;
}

h2, h3, p{
    font-family: 'Pacifico', cursive;
    font-weight: 100;
}

h3, p{
    font-size: 16px;
}

p{
    margin: 0;
}

.input{
    cursor: pointer;
}

.button{
    font-size: 13px;
    margin: 20px auto;
    border: 1px solid;
    width: 100px;
    border-radius: 20px;
    background-color: blanchedalmond;
    color: black;
    cursor: pointer;
}

.p1 , .p2{
    display: inline-block;
    margin: 0 10%;
}

img{
    margin-top: 25px;
    width: 90px;
}

/* Untuk tablet kecil atau sedang */
@media screen and (min-width: 760px) and (max-width: 1023px){
    h1{
        font-size: 60px;
    }
    
    h2{ font-size: 20px;}

    h3, p{ font-size: 17px; }

    .button{
        font-size: 15px;
        width: 120px;
    }
    img{
        width: 140px;
    }
}


/* Notebook atau Tablet */
@media screen and (min-width: 1024px) and (max-width: 1439px){
    h1{
        font-size: 100px;
    }
    
    h2{ font-size: 20px;}

    h3, p{ font-size: 17px; }

    .button{
        font-size: 15px;
        width: 120px;
    }
    img{
        width: 150px;
    }
}

/* Screen sedang */
@media screen and (min-width: 1440px){
    h1{
        font-size: 120px;
    }

    h2{ font-size: 30px;}

    h3, p{ font-size: 22px; }

    .button{
        font-size: 20px;
        width: 150px;
    }
    img{
        width: 190px;
    }
}